doctype html 
html 
    head 
        title Suprema - Shop 'fo You Die

        style 
            include ../Public/CSS/utils.css
        style 
            include ../Public/CSS/style.css
        style 
            include ../Public/CSS/page_not_found.css

    body 
        .page-not-found 
            h2.pnf-title 404
            h2.pnf-sub-title Page Not Found 
            p.pnf-desc Oops! The page you are looking for does not exist. It might have been moved or deleted.
            
            .go-to-home-btn.sqaure-btn 
                a(href="/index.html")| Go Back Home 


