.content::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 55vh;
    background: url('../img/Backgrounds/contact_us.jpg') no-repeat center center/cover;
    background-position: center 0;
    z-index: -1;
    max-height: 90vh;
}

.content{
    max-height: 55vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.content-desc{
    font-family: var(--font3);
    position: relative;
    top: 0 !important;
    left: 16% !important;
}

.content-desc h1{
    font-size: 3.5rem !important;
    text-transform: uppercase;
    letter-spacing: .01em;
    color: #fff !important;
}

/*_________________contact us___________________________*/
.contact-us{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem;
}

.contact-form{
    width: 50vw;
    padding-bottom: 4rem;
}

.contact-form .submit-btn{
    padding: 10px 60px;
}

.location-desc{
    padding: 1rem 0;
}

.location-desc h5{
    padding-bottom: 7px;
}

.location-headings{
    font-weight: 500;
    font-family: var(--font2);
    font-size: 13px;
    line-height: 22px;
    letter-spacing: .02em;
    text-transform: capitalize;
}

.location-item{
    padding-bottom: 2rem;
}