.content::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--prod-back) no-repeat center center/cover;
    background-position: center 0;
    z-index: -1;
    max-height: 90vh;
}

.content-desc .content-text {
    color: var(--main-white) !important;
}

/*___________________________________Products grid_______________________*/

#products {
    margin-top: 1rem;
}

.all-product-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 2rem;
    margin: 3em 8em;
}


