.product-details{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.product-img{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 40vw;
}

.product-img .product-img .small-left{}

.product-img .product-img .big-img{}

.product-img .product-img .big-img img{
    display: block;
    width: 100%;
    position: relative;
}

.product-content{
    max-width: 45vw;
    width: 45vw;
    margin: 0 3em;
}

.product-content .product-desc{
    width: 40vw;
}
.product-content .product-desc .product-desc-text{
    font-family: var(--font3);
    color: var(--main-black);
    text-transform: uppercase;
    letter-spacing: .3px;
    font-weight: 600;
}

.product-content .product-desc h2{
    font-size: 2rem;
}
.product-content .product-desc h3{
    font-size: 1.5rem;
}

.product-content .product-desc .star-rating{
    margin-top: 1em;
    position: relative;
    vertical-align: middle;
    color: #e0e0e0;
    overflow: hidden;
    font-size: 1.4rem;
}

.product-content .product-desc .star-rating::before{
    content: "\f005\f005\f005\f005\f005";
    letter-spacing: 4px;
    font-weight: 900;
}

.product-content .product-desc .star-rating span{
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    color: var(--main-pink);
    /* color: var(--main-color); */
    font-family: "Font Awesome 5 Free";
}
.product-content .product-desc .star-rating span::before{
    content: "\f005\f005\f005\f005\f005";
    letter-spacing: 4px;
    font-weight: 900;
}

.product-content .product-desc .product-desc-p{
    margin-top: 1em;
    font-size: 17px;
    color: var(--color-grey-5);
    letter-spacing: .02em;
    line-height: 22px;
    font-weight: 500;
    font-family: var(--font2);
}

.product-content .product-buttons{
    margin-top: 3.5rem;
}

.product-content .product-buttons .quantity-buttons{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.product-content .product-buttons .quantity-buttons .pm-icon{
    position: relative;
    width: 33px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-black);
    vertical-align: middle;
    border: 1px solid var(--main-black);
    border-radius: 50%;
    cursor: pointer;
    transition: all .14s;
}

.product-content .product-buttons .quantity-buttons .pm-icon img{
    height: 1.4rem;
}

.product-content .product-buttons .quantity-buttons .pm-icon:hover{
    border: 1px solid var(--main-pink);
}


.product-content .product-buttons .quantity-buttons #quantity{
    background-color: transparent;
    outline: none;
    border: none;
    text-align: center;
    width: 3rem;
    font-size: 1.3rem;
    line-height: 1.5em;
    font-family: var(--font3);
    font-weight: 500;
    color: var(--main-black);

}