.product-details{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    margin-left: 7rem;
}

.product-img{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 40vw;
}

.product-img .small-left{
    width: 6vw;
}

.product-img .big-img{
    width: calc(100% - 111px);
}

.product-img .product-img .big-img img{
    display: block;
    width: 100%;
    position: relative;
}

/*______________________________Product content right side_________________________________________*/

.product-content{
    max-width: 45vw;
    width: 45vw;
    margin: 0 3em;
}

.product-content .product-desc{
    width: 40vw;
}
.product-content .product-desc .product-desc-text{
    font-family: var(--font3);
    color: var(--main-black);
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 600;
}

.product-content .product-desc h2{
    font-size: 2rem;
}
.product-content .product-desc h3{
    font-size: 1.5rem;
}

.product-content .product-desc .star-rating{
    margin-top: 1em;
    position: relative;
    vertical-align: middle;
    color: #e0e0e0;
    overflow: hidden;
    font-size: 1.4rem;
    font-family: "Font Awesome 5 Free";
}

.product-content .product-desc .star-rating::before{ /* this one for the empty stars */
    content: "\f005\f005\f005\f005\f005";
    letter-spacing: 4px;
    font-weight: 900;
}

.product-content .product-desc .star-rating span{
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    color: var(--main-pink);
    /* color: var(--main-color); */
    font-family: "Font Awesome 5 Free";
}
.product-content .product-desc .star-rating span::before{ /* this one for filling the stars */
    content: "\f005\f005\f005\f005\f005";
    letter-spacing: 4px;
    font-weight: 900;
}

.product-content .product-desc .product-desc-p{
    margin-top: 1em;
    font-size: 17px;
    color: var(--color-grey-5);
    letter-spacing: .02em;
    line-height: 22px;
    font-weight: 500;
    font-family: var(--font2);
}

.product-content .product-buttons{
    margin-top: 3.5rem;
}

.product-content .product-buttons .quantity-buttons{
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.product-content .product-buttons .quantity-buttons .pm-icon{
    position: relative;
    width: 33px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-black);
    vertical-align: middle;
    border: 1px solid var(--main-black);
    border-radius: 50%;
    cursor: pointer;
    transition: all .14s;
}

.product-content .product-buttons .quantity-buttons .pm-icon img{
    height: 1.4rem;

}

.product-content .product-buttons .quantity-buttons .pm-icon:hover{
    border: 1px solid var(--main-pink);
}


.product-content .product-buttons .quantity-buttons #quantity{
    background-color: transparent;
    outline: none;
    border: none;
    text-align: center;
    width: 3rem;
    font-size: 1.3rem;
    line-height: 1.5em;
    font-family: var(--font3);
    font-weight: 500;
    color: var(--main-black);
}

.product-content .product-buttons .quantity-buttons .addCart-btn{
    margin-left: 3em;
}

.product-content .product-buttons .wishlist-btn-content{
    margin-top: 3rem;
    height: 3.36rem;
}

.product-content .product-buttons .wishlist-btn-content .wishlist-btn{
    text-decoration: none;
    background-color: var(--main-light-pink);
    color: var(--main-pink);
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .14em;
    text-transform: uppercase;
    font-family: var(--font2);
    padding: 20px 33px ;
    transition: all .2s;
}

.product-content .product-buttons .wishlist-btn-content .wishlist-btn:hover{
    background-color: var(--main-pink);
    color: #fff;
}

.product-content .product-buttons .wishlist-btn-content .wishlist-btn .heart{
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    top: 9px;
    right: 10px;
}

.product-content .product-buttons .wishlist-btn-content .wishlist-btn .heart img{
    height: 1.8rem;
}

.product-content .product-others{
    margin-top: 2rem;
}

.product-content .product-others .type-head{
    display: block;
    font-size: 13px;
    line-height: 22px;
    font-weight: 600;
    font-family: var(--font2);
}

.product-content .product-others .type-head .type-value{
    font-weight: 500 !important;
}


.product-content .share-product-items{
    margin-top: 1.3em;
}

.dotted-sep{
font-size: 10px;
}

/*_________________________tabs wrapper_________________________________________________*/

.tabs-wrapper{
    margin-top: 5rem;
    display: table;
    width: 100vw;
}


.wrapper-nav-items ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-nav-items ul li{
    list-style: none;
    padding: 0 1rem;
}

.wrapper-a{
    font-family: var(--font3);
    font-size: 1.3rem;
    text-transform: uppercase;
    line-height: 1.5em;
    color: var(--main-black);
    font-weight: 600;
    text-decoration: none;
    position: relative;
}

.wrapper-nav-items ul li a::after{
    bottom: -.7rem;
    border-bottom: 3px solid var(--main-pink);
}

.wrap-active::after{
    border-bottom: 3px solid var(--main-pink);
    width: 100%;
}

/*_____________________wrapper content__________________________*/

.tabs-wrapper-content{
    display: table-row;
}

.center-div{
    display: flex;
    justify-content: center;
    align-items: center;

}

.wrapper-content-text{
    font-size: 13px;
    line-height: 22px;
    letter-spacing: .02em;
    font-family: var(--font2);
    color: #333;
}

/*________description____________*/
#description-content{
    margin-top: 2.73rem;
}

#description-content .desc-text{
    text-align: center;
    max-width: 50vw;

}

/*_____________shipping___________________*/

#shipping-content{
    margin-top: 3.3rem;
    display: none;
}

#shipping-content .shipping-text{
    text-align: center;
}

#shipping-content .ship-text{
    font-weight: 600;
}

#shipping-content .policy-stuff{
    padding: .5em 0;
    text-align: center;
}

#shipping-content .policy-stuff a{
    font-weight: 600;
}

/*________additional information_______*/

#additional-content{
    margin-top: 2.5rem;
    display: none;
}

#additional-content .additional-info div{
    padding: .6em 0;
}

/*________reviews__________*/

/*____________vendor info_______________*/

#vendor-content{
    margin-top: 2.8rem;
    display: none;
}

#vendor-content .vendor-info div{
    padding: .5em 0;
}

/*____________Product Enquiry________________*/

#enquiry-content{
    margin-top: 2.4rem;
    flex-direction: column;
    display: none;
}

#enquiry-content form{
    width: 60vw;
}

#enquiry-content form .submit-btn{
    margin-top: 2rem;
    line-height: 1rem !important;
    background-color: #000;
}

#enquiry-content form .submit-btn:hover{
    background-color: #1b1919;
}

/* ______________related products______________________*/

.related-products{
    margin-top: 6rem;
}

.related-products .related-heading p{
    font-size: 1.6rem;
}

.related-products .related-product-items{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-row-gap: 2rem;
    margin: 3em 8em;
}

.related-img{
    border: 0;
    box-shadow: none;
}