*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

/*______________________________Navbar________________________________________________________*/
#navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-grey-5);
}

#navbar .logo{
    margin-left: 0;
}

#navbar .logo img{
    height: 5rem;
    filter: invert(100%);
}

#navbar .nav-items{
    margin-bottom: .4em;
}

#navbar .nav-items ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar .nav-items ul li{
    padding: 28px;
    list-style: none;

}

#navbar .nav-items ul li a{
    font-size: 1.2rem;
    font-family: var(--font1);
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: .5px;
    position: relative;

}

#theme-img{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 1.4rem;
    height: 1.4rem;
}

#theme-img img{
    height: 1.3rem;
    cursor: pointer;
    transition: all .2s;
    filter: invert(100%);
}

#theme-img :hover{
    transform: translateY(-10%);
    /* box-shadow: 2px 2px 5px var(--main-black); */
}

#navbar .nav-items ul li a:after{
    content: "";
    position: absolute;
    bottom: -2rem;
    left: 0;
    width: 0%;
    border-bottom: 4px solid var(--main-color);
    transition: 0.5s;
}

#navbar .nav-items ul li a:hover:after{
    width: 100%;
}

#navbar .nav-items li .nav-active{
    color: var(--color-grey-3);

}

/*______________________________________________content______________________________________________________________*/
.content{
    max-width: 100vw;
    max-height: 100vh;
    height: 100vh;
}

.content::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../img/Backgrounds/back.jpg') no-repeat center center/cover;
    background-position: center 0;
    z-index: -1;
    max-height: 90vh;
}

.content-desc{
    font-family: var(--font2);
    max-width: 50vw;
    position: relative;
    left: 5%;
    top: 5rem;
}

.content-desc .content-text{
    color: var(--main-white);
}

.content-desc .text-h1{
    font-size: 4.5rem;
}

.content-desc .text-span{
    font-size: 3rem;
    padding: .2em 0;
}

.content-btns{
    margin-top: .7em;
    display: flex;
    align-items: center;
    align-self: flex-start;
    flex-direction: column;
}

.content-btns .btn .icon{
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 1rem;

}

.content-btns .btn {
    margin: .4em 0;

}

.content-btns .btn .icon img{
    height: 1.7em;
}

/*__________________________________________________Categories_________________________________________________*/

.cat-heading{
    margin: auto;
}

.cat-heading h3{
    font-size: 1.9rem;
}

.cat-heading h1{
    font-size: 3rem;
}

.categories-grid{
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 2rem;
}

.cat-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cat-item .cat-item-img img{
    height: 70vh;
}

.cat-item .cat-item-text h2{
    transition: all .3s;
}

.cat-item .cat-item-text h2:hover {
    color: var(--main-color);
}