:root{
    --black1 : #303030;
    --black2 : #2b2b2b;
    --black3 : #1f1f1f;

    --main-black: #111111;
    --main-grey: #2f2f2f;
    --main-white: #f6f6f6;
    --main-gold: #ffcb74;

    --color-grey-1: #dbe1e8;
    --color-grey-2: #b2becd;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-grey-5: #2a2e35;

    --main-blue: #0cc3ce;

    --font1: 'Cabin', sans-serif;
    --font2: 'Carter One', cursive;    
}